<div class="menu">
  <div class="ul">
    <ul class="ul-menu">
      <div class="men">
      <li class="links-menu">
        <a href="#" class="links">Nervous</a>
        
      </li>
      <div class="dropdown">
        <div class="dropdowncontent">
        <ul>
          <li class="inner-link">
            <a  href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
        </ul>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt doloremque veritatis autem eius dolor eaque, quisquam nesciunt cumque, ex eveniet odit iusto nihil ducimus expedita, aliquid quaerat quod dicta!</p>
        </div>
        </div>
      </div>
      </div>
      <div class="men">
      <li class="links-menu">
        <a href="#" class="links">Downloads</a>
      </li>
      <div class="dropdown">
        <div class="dropdowncontent">
        <ul>
          <li class="inner-link">
            <a  href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
        </ul>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt doloremque veritatis autem eius dolor eaque, quisquam nesciunt cumque, ex eveniet odit iusto nihil ducimus expedita, aliquid quaerat quod dicta!</p>
        </div>
        </div>
      </div>
    </div>
    <div class="men">
      <li class="links-menu">
        <a href="#" class="links">Dcumentations</a>
      </li>
      <div class="dropdown">
        <div class="dropdowncontent">
        <ul>
          <li class="inner-link">
            <a  href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
        </ul>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt doloremque veritatis autem eius dolor eaque, quisquam nesciunt cumque, ex eveniet odit iusto nihil ducimus expedita, aliquid quaerat quod dicta!</p>
        </div>
        </div>
      </div>
      </div>
      <div class="men">
      <li class="links-menu"> 
        <a href="#" class="links">Research</a>
      </li>
      <div class="dropdown">
        <div class="dropdowncontent">
        <ul style="overflow: none;">
          <li class="inner-link">
            <a  href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
        </ul>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt doloremque veritatis autem eius dolor eaque, quisquam nesciunt cumque, ex eveniet odit iusto nihil ducimus expedita, aliquid quaerat quod dicta!</p>
        </div>
        </div>
      </div>
      </div>
      <div class="men">
      <li class="links-menu">
        <a href="#" class="links">community</a>
      </li>
      <div class="dropdown">
        <div class="dropdowncontent">
        <ul>
          <li class="inner-link">
            <a  href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
          <li  class="inner-link">
            <a href="#" class="act">Action</a>
          </li>
        </ul>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt doloremque veritatis autem eius dolor eaque, quisquam nesciunt cumque, ex eveniet odit iusto nihil ducimus expedita, aliquid quaerat quod dicta!</p>
        </div>
        </div>
      </div>
      </div>
    </ul>
  </div>
</div>