<ul class="nav justify-content-center" style="background-color: blueviolet;">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" onmouseover="myfun()">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onmouseover="myfun()" href="#">Nervous</a>
      <div class="drop-down">
      <div class="row">
        <div class="col-sm-4">
        <ul class="lists">
          <li><a class="items" href="#">Action</a></li>
          <li><a class="items" href="#">Another action</a></li>
          <li><a class="items" href="#">Something else here</a></li>
        </ul>
        </div>
        <div class="col-sm-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

      </div>
      </div>
    </li>
    <li class="nav-item" onmouseover="myfun()">
      <a class="nav-link" href="#">Downloads</a>
    </li>
    <li class="nav-item" onmouseover="myfun()">
      <a class="nav-link " href="#">Documentation</a>
    </li>
    <li class="nav-item" onmouseover="myfun()">
        <a class="nav-link " href="#">Research</a>
      </li>
      <li class="nav-item" onmouseover="myfun()">
        <a class="nav-link " href="#">Community</a>
      </li>
  </ul>