<nav class="navbar" style="max-width: 800px;">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="images/log.png" alt="Scpel">
      </a> 
      
      <form class="d-flex" role="search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </nav>