body{
    background: rgb(229, 226, 229);}
   
.contianer{
    margin: auto;
}

.main {
    margin: 0 15%;
}
.nav .nav-item .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/*this the navbar*/
.form-control{
    height: 30px;
    max-width: 200px;
}

/*this is the menu dropdowns bar */
.menu{
    position: sticky;
    top: 0%;
    background:purple ;
    border-radius: 10px;
    
}
.dropdown{
  display:none;
  position: absolute;
  background-color:white;
  max-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  border: 1px solid plum;

}

.dropdowncontent{
    display: flex;
    flex-direction: row; 
    
}
li{
    list-style: none;
}
.desc{
    padding: 10px;
    border-left: 1px solid plum;
    font-size: 15px;
    color:rgb(46, 7, 46);

}

.act{
    text-decoration: none;
    color:rgb(46, 7, 46);
}
.inner-list{
    width: 100%;
}
ul{
    margin-right: 30px;
}
.men:hover .dropdown{
    display: block;
    
}

.ul-menu{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 10px;
 max-width: 800px;
 padding-left: 50px;
}
.links-menu{
    list-style: none;
}
.links{
   text-decoration: none; 
   color: whitesmoke;
   position: relative;
}
/*this displays the dropdowns*/

    img{
        width: 150px;
        height: 100px;
        position: relative;
        left:0px;
    }
    .d-flex{
        position: relative;
        right:40px
    }